@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap");

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

body {
  font-family: $primary-font;
  display: grid;
  background: $gradient1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.header {
  height: auto;
  padding: 1.875rem;

  &__logo {
    width: 7.8rem;
  }
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__img {
    // width: 100%;
    height: 18.75rem;
    background: url(/images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .info {
    &__title {
      font-size: 2.8rem;
      font-weight: 500;
      line-height: 1.1;
      letter-spacing: 0.75rem;
      text-align: center;
      text-transform: uppercase;
      color: $darkGrayishRed;
      margin-top: 4.4rem;

      & span {
        color: $desaturatedRed;
        font-weight: 300;
      }
    }

    &__text {
      font-size: 1rem;
      line-height: 1.6;
      color: $desaturatedRed;
      margin: 0 auto;
      padding: 1.5rem 2.2rem 2.2rem 2.2rem;
      text-align: center;
    }

    &__submit {
      position: relative;
      display: flex;
      flex-direction: column;

      & form {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        width: 85vw;

        & input {
          grid-row: 1;
          grid-column: 1;
          height: 3.43rem;
          outline: none;
          border-radius: 3.1rem;
          border: 1px solid hsla(0, 36%, 70%, 0.6);
          background: transparent;
          padding-left: 1.6rem;
          font-family: $primary-font;
          font-size: 0.94rem;
          color: $desaturatedRed;
        }
      }
    }
  }

  input::-webkit-input-placeholder {
    color: $desaturatedRed;
  }

  .submit__btn {
    position: relative;
    grid-row: 1;
    grid-column: 1;
    height: 3.43rem;
    justify-self: end;
    padding: 1.2rem 2.3rem;
    border-radius: 10rem;
    background: linear-gradient(
      135deg,
      hsla(0, 80%, 86%, 1),
      hsla(0, 74%, 74%, 1)
    );
    transition: all ease-in 0.5s;

    & img {
      margin-top: -0.2em;
      position: inherit;
    }
  }

  .submit__btn:hover {
    background: linear-gradient(
      135deg,
      hsla(0, 80%, 86%, 0.5),
      hsla(0, 74%, 74%, 0.5)
    );
  }

  .submit__error {
    position: absolute;
    width: 1.25rem;
    top: 1.125rem;
    right: 8rem;
    visibility: hidden;
  }

  .submit__warning {
    font-size: 0.8rem;
    color: $softRed;
    align-self: flex-start;
    margin: 0.8rem 0 0 4.3rem;
    visibility: hidden;
  }

  #email.visible {
    border: 1px solid $softRed;
  }
  .visible {
    visibility: visible;
  }
}
