@media (min-width: 480px) and (max-width: 1280px) {
  .header {
    height: auto;
    padding: 1.875rem 0 1.875rem 3.125rem;

    &__logo {
      width: 11rem;
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
      width: 100%;
      height: 26rem;
      background: url(/images/hero-mobile.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .info {
      &__title {
        font-size: 4rem;
      }

      &__text {
        margin: 0 auto;
        font-size: 1.25rem;
        max-width: 35rem;
        padding-bottom: 1.875rem;
      }
    }
    .submit__error {
      right: 9.5rem;
    }

    .submit__warning {
      font-size: 0.9rem;
      margin: 1rem 0 0 4.2rem;
    }
  }
}

@media (min-width: 1281px) {
  .header {
    position: absolute;
    top: 5rem;
    left: 12.7rem;
    padding: 0;

    &__logo {
      width: 12rem;
    }
  }

  .hero {
    flex-direction: row-reverse;

    &__img {
      height: 100vh;
      background-image: url(/images/hero-desktop.jpg);
      width: 40%;
    }

    .info {
      background-image: url(/images/bg-pattern-desktop.svg);
      background-size: cover;
      background-position: center;
      width: 60%;
      padding-left: 12.5rem;

      &__title {
        font-size: 5rem;
        line-height: 1.1;
        padding-top: 12rem;
        letter-spacing: 22px;
        text-align: left;
      }

      &__text {
        padding: 0;
        font-size: 1.27rem;
        text-align: left;
        margin: 1.875rem 0 2em 0;
        max-width: 35rem;
      }

      &__submit {
        max-width: 42rem;

        & form {
          margin-left: -0.625rem;

          & input {
            height: 70px;
            background: transparent;
            padding: 2px 0 0 35px;
            font-size: 1.25rem;
            border: 2px solid hsla(0, 36%, 70%, 0.4);
          }
        }
      }
    }
    .submit__btn {
      height: 70px;
      padding: 1rem 3.43rem;

      & img {
        width: 1.2rem;
        padding: 0.4rem 0 0 0.2rem;
        height: auto;
      }
    }

    .submit__error {
      top: 1.2rem;
      right: 16.7rem;
      width: 1.875rem;
    }

    .submit__warning {
      font-size: 1rem;
      margin: 1rem 0 0 1.625rem;
    }

    #email.visible {
      border: 2px solid $softRed;
    }
  }
}
