@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

:root {
  /* Primary colors */
  --desaturatedRed: hsl(0, 36%, 70%);
  --softRed: hsl(0, 93%, 68%);

  /* Neutral colors */
  --darkGrayishRed: hsl(0, 6%, 24%);

  /* Gradients */
  --gradien1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradien2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

  --primary-font: "Josefin Sans", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  display: grid;
  background: var(--gradien1);
}

img {
  display: block;
  max-width: 100%;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: auto;
  padding: 30px;
}

.header-logo {
  width: 125px;
}

.hero-img {
  width: 100%;
  height: 250px;
  background: url(/images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-info {
  position: relative;
  padding: 25px;
}

.hero-info-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 12px;
  color: var(--darkGrayishRed);
  margin-top: 40px;
}

.hero-info-title span {
  color: var(--desaturatedRed);
  font-weight: 300;
}

.hero-info-text {
  font-size: 16px;
  line-height: 1.6;
  color: var(--desaturatedRed);
  padding: 20px;
  margin-bottom: 20px;
  max-width: 560px;
  text-align: center;
}

.hero-info-submit {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 560px;
}

.hero-info-submit form {
  display: grid;
  grid-template-columns: 1fr;
}

.hero-info-submit form input {
  grid-row: 1;
  grid-column: 1;
  height: 55px;
  outline: none;
  border-radius: 50px;
  border: 2px solid hsla(0, 36%, 70%, 0.6);
  background: transparent;
  padding-left: 25px;
  font-family: var(--primary-font);
  font-size: 15px;
  color: var(--desaturatedRed);
}

input::-webkit-input-placeholder {
  color: var(--desaturatedRed);
}

.hero-info-submit-btn {
  grid-row: 1;
  grid-column: 1;
  height: 55px;
  justify-self: end;
  padding: 1em 2em;
  border-radius: 10em;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
}

.hero-info-submit-error {
  position: absolute;
  top: 15px;
  right: 90px;
  /* visibility: hidden; */
}

.hero-info-submit-warning {
  font-size: 0.8rem;
  color: #f96262;
  align-self: flex-start;
  margin: 0.5em;
  /* visibility: hidden; */
}

#email.visible {
  border: 1px solid #f96262;
}
.visible {
  visibility: visible;
}

@media (min-width: 640px) and (max-width: 1023px) {
  .header {
    width: 100%;
    height: auto;
    padding: 30px 0 30px 50px;
  }

  .header-logo {
    width: 160px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-img {
    height: 380px;
  }

  .hero-info-title {
    font-size: 70px;
    margin: 30px;
    margin-bottom: 20px;
  }

  .hero-info-text {
    margin: 0 auto;
    font-size: 20px;
  }

  .hero-info-submit form {
    margin-top: 40px;
  }
  .hero-info-submit form input {
    height: 70px;
    font-size: 20px;
    padding: 8px 30px;
  }

  .hero-info-submit-error {
    top: 64px;
    right: 150px;
    /* visibility: hidden; */
  }

  .hero-info-submit-warning {
    font-size: 20px;
    margin: 15px 0 0 32px;
    /* visibility: hidden; */
  }

  .hero-info-submit-btn {
    height: 70px;
    padding: 1em 3.5em;
    border-radius: 10em;
    background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  }

  .hero-info-submit-btn img {
    width: 18px;
    padding-top: 8px;
    height: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 200px;
    padding: 0;
  }

  .header-logo {
    width: 225px;
  }

  .container {
    flex-direction: row-reverse;
    width: 100%;
  }

  .hero-info {
    background-image: url(/images/bg-pattern-desktop.svg);
    background-size: cover;
    background-position: center;
    width: 55%;
    padding-left: 200px;
  }

  .hero-img {
    width: 45%;
    height: 100vh;
    background-image: url(/images/hero-desktop.jpg);
  }

  .hero-info-title {
    font-size: 90px;
    padding-top: 200px;
    letter-spacing: 20px;
    text-align: left;
  }

  .hero-info-text {
    padding: 0;
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 21px;
    text-align: left;
  }

  .hero-info-submit form {
    margin-left: -10px;
  }

  .hero-info-submit form input {
    height: 75px;
    background: transparent;
    padding-left: 35px;
    font-size: 20px;
    border: 3px solid hsla(0, 36%, 70%, 0.4);
  }

  .hero-info-submit-btn {
    height: 75px;
    padding: 16px 55px;
    border-radius: 50px;
  }

  .hero-info-submit-btn img {
    width: 16px;
    padding-top: 8px;
    height: auto;
  }

  .hero-info-submit-error {
    top: 22px;
    right: 150px;
    width: 30px;
    /* visibility: hidden; */
  }

  .hero-info-submit-warning {
    font-size: 20px;
    margin: 15px 0 0 28px;
    /* visibility: hidden; */
  }
}
